@model Donor.Entity.DonorModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonorModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonateType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonateType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviewesHealthProblem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviewesHealthProblem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecentDrag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecentDrag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Others)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Others)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
